/* style reset */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(235, 218, 195);
    font-family: helvetica;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main_card {
    display: flex;
    flex-direction: row;
}

.album_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}